/* search input */

.search {
  background-color: var(--grey-color-0);
  border-radius: 8px;
  width: fit-content;
  padding: 8px 16px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 4px;
}
.search__icon {
  color: var(--grey-color-1);
  font-size: 2rem;
}
.searc__input {
  background-color: transparent;
  border: 0;
  min-width: 300px;
}
.searc__input:focus {
  outline: none;
}

/* end search input */
.btn {
  background-color: #cecece;
  color: #fff;
  border: 0;
}
.btn-primary {
  background-color: var(--primary-color-orange);
  font-size: 1.6rem;
  padding: 8px 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  width: fit-content;
  border: 0;
}
.btn-primary:hover {
  background-color: var(--primary-color-orange-1);
}
.btn--large {
  font-size: 1.8rem;
  font-weight: 500;
  width: 20rem;
  padding: 12px 24px;
}
.btn--small {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 12px 24px;
}
.btn--block {
  width: 100%;
}

.btn-primary-1 {
  background-color: var(--primary-color-orange);
  font-size: 1.5rem;
  padding: 12px 8px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary-1:hover {
  background-color: var(--primary-color-orange-1);
}

.range-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.range-input input {
  width: 50%;
  border: 0;
  padding: 1rem;
  border-radius: 4px;
}
.range-input input:focus {
  outline: 0;
}
